.Layout-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-left{
    height: 100vh;
    background: #ebfffe;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-right{
    height: 100vh;
    background: #afb3ff;
    display: flex;
    justify-content: center;
    align-items: center;

}